body {
    font-family: 'Poppins', sans-serif;
}

header {
    height: 10vh;
    border-bottom: 1px solid #7c7c7c;
    background-color: #9370DB;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    margin-left: 30px;
    font-size: 40px;
    font-family: 'Pacifico' cursive;
    color: pink;

}
main {
    min-height: 90vh;
    background: #f4f49b;
    background: linear-gradient(180deg,#e0c2ff 0%, #cd93d4 35%, #c488cc 100%);
}
.main__heading, .main__info, .main__tagline {
    text-align: center;
    padding-top: 20px;
    color: black;
}

.main__heading {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.main__info, .main__tagline {
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px; 
}

.card {
    max-width: 500px;
    min-height: 500px;
    background-color: #f4e6d0;
    border: 1px solid #f4e6d0;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    display: flex;
    position: relative;
}

.card__title {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.card__img {
    width: 480px;
    height: 780px;
    margin-bottom: 10px;
    overflow: visible;
}

img {
    width: fit-content;
    height: 100%;
    object-fit: contain;
    animation: imgZoom 3.5s ease infinite;
    animation-direction: reverse;
    animation-fill-mode: none;
    position: right;
    
}

img:hover {
    animation-play-state: paused;
}
@keyframes imgZoom {
	0% {transform: scale(1) rotate(0deg);}
	20% {transform: scale(0.2) rotate(15deg);}
	30% {transform: scale(1) rotate(20deg);}
    50%{transform: scale(1)rotate(15deg) ;}
}

p{
    text-align: center;
    position:;

}
.btn1{
    position: relative;
    justify-content: center;
    bottom: 1px;
    width: 100%;
    height: 30px;
    border: none;
    background-color: green;
    font-weight: bold;
}

.btn2{
    position: relative;
    justify-content: normal;
    bottom: 2px;
    width: 100%;
    height: 30px;
    border: none;
    background-color: red;
    font-weight: bold;
}
.btn1:hover {
    background-color: rgb(3, 54, 2);
    transition: all 0.9s ease-in-out;
    transition-delay: 0.7s;
}
.btn2:hover {
    background-color: rgb(54, 20, 2);
    transition: all 0.9s ease-in-out;
    transition-delay: 0.7s;
}